/* BASE STYLES */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #750417;
}

body {
  background: #F2E4BD;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 30px;
  color: #4B4B4B;
  letter-spacing: 4px;
  text-align: center;
  transition: all 0.2s;
}

h2 {
  margin-bottom: 100px; /*off top of screen*/
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 18px;
  color: #222222;
  letter-spacing: 1px;
  transition: all 0.2s;
}
h2:hover {
  transform: translate(0px,-5px);
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 24px;
  color: #222222;
  letter-spacing: 4px;
  text-align: right;
  padding: 16px;
  margin: 0;
}

p {
  padding: 16px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  font-size: 20px;
  text-align: right;
  color: #4B4B4B;
}

/* LAYOUT STYLES */
.big-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc((100vh - 40px) / 2);
  left: 0px;
  top: 0px;
  background: #BF3B49;
  z-index: -1;
}

.h1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 100px;
  background: #F2E4BD;
  transition: all 0.2s;
}

h1::after {
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  background: #4B4B4B;
  margin: auto;
}

.small-header {
  display: flex;
  position: fixed;
  box-sizing: content-box;
  width: 100%;
  height: 40px;
  left: 0px;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
  background: #BF3B49;
}

.show {
  border-bottom: solid 5px #ECBE69;
}
.show h2 {
  margin: 0;
  color: #222222;
}

.nav-bar {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #BACDA8;
  align-items: center;
  justify-content: space-around;
  box-shadow: -1px 0 5px 0px #528F7D;
}

#bigscreen-nav {
  display: none;
}

.nav-bar p, .nav-bar a {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 18px;
  color: #222222;
  letter-spacing: 1px;
  padding: 10px;
  transition: 0.2s;
}
.nav-bar p:hover, .nav-bar a:hover {
  transform: translate(0px,-5px);
}

.main-container {
  position: relative;
  top: calc((100vh - 40px) / 2);
  background: #F2E4BD;
  padding: 0;
  border-top: solid 10px #ECBE69;
}

.intro {
  display: flex;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 700px;
  height: calc((100vh - 40px) / 2);
  align-items: center;
  justify-content: flex-end;
  background: #F2E4BD;
  transition: 0.5s;
}

.intro p {
  text-align: right;
  transition: 0.5s;
}

.links {
  display: flex;
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 700px;
  align-items: center;
  justify-content: space-around;
  background: #F2E4BD;
}

.links-container {
  max-width: 700px;
}

.links img {
  width: 60px;
  height: auto;
  margin-bottom: 20px;
  opacity: 0.85;
  transition: 0.5s;
  border-radius: 5px;
}
.links img:hover {
  transform: translate(0px,-5px);
  box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
}

.item-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #F2E4BD;
  padding-top: 40px;
  padding-bottom: 40px;
}

.item-inner-container {
  display: block;
  max-width: 700px;
}

.item-container:nth-child(2n + 1) {
  justify-content: flex-start;
  background: #BACDA8;
}

.item-container:nth-child(2n + 1) p, .item-container:nth-child(2n + 1) h3 {
  text-align: left;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 400px;
  padding: 16px;
}

.logo-container img {
  width: 75px;
  height: auto;
  margin: 20px 0 20px 20px;
  transition: 0.5s;
}

.logo-container img:hover {
  transform: translate(0px,-5px);
  box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
}

 footer {
  display: flex;
  box-sizing: content-box;
  padding-bottom: 40px;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  background: #F2E4BD;
  border-top: solid 5px #ECBE69;
}
 footer img {
   height: 50px;
   width: auto;
   opacity: 0.9;
 }

/*  =MEDIA QUERIES=  */

/* Removes underline for very very narrow screens that might or might not exist */
@media screen and (max-width: 290px) {
  h1::after {
    display: none;
  }
}

/* Tablet widths and above */
@media screen and (min-width: 768px) {

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 40px;
    color: #4B4B4B;
    letter-spacing: 4px;
    text-align: left;
    transition: 0.2s;
  }
  h1:hover {
    transform: translate(0px,-5px);
  }

  .big-header {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 200px;
    left: 0px;
    top: 0px;
    z-index: 1;
    border-bottom: solid 10px #ECBE69;
    transition: all 0.3s;
  }

  .h1-container {
    justify-content: space-between;
    width: 100%;
    height: 130px;
    padding-left: 10px;
    padding-right: 10px;
  }

  h1 {
    font-size: 60px;
          line-height: 70px;
  }

  .trans-big-header {
      align-items: flex-start;
      height: 100px;
    }
  .trans-h1-container {
      height: 70px;
    }
  .trans-h1 {
      font-size: 40px;
    }

  h1::after {
    display: none;
  }
  .small-header {
    display: none;
  }

  #mobile-nav {
    display: none;
  }
  #bigscreen-nav{
    display: flex;
    position: relative;
    width: 350px;
    box-shadow: none;
    background: #BACDA8;
    align-items: center;
    justify-content: flex-end;
    background: #F2E4BD;
  }
  #bigscreen-nav p, #bigscreen-nav a {
    font-weight: bold;
    color: #4B4B4B;;
  }
  .main-container {
    position: relative;
    top: 200px;
    background: #F2E4BD;
    padding: 0;
    border: none;
  }
  .intro {
    height: calc((100vh - 200px) / 2);
    align-items: center;
    justify-content: center;
    background: #F2E4BD;
    border: none;
  }
  .links {
    height: calc((100vh - 200px) / 2);
  }
  .links img {
    width: 80px;
    height: auto;
  }
  .intro p {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
  }
  .item-container {
    justify-content: center;
    padding-top: 100px;
  }
  .item-container p {
    text-align: center;
  }
  .item-container:nth-child(2n + 1) {
    justify-content: center;
  }
  .item-container:nth-child(2n + 1) p, .item-container:nth-child(2n + 1) h3 {
    text-align: center;
    justify-content: center;
  }
  h3 {
    text-align: center;
    font-size: 30px;
  }
  .logo-container {
    max-width: 500px;
  }
  .logo-container img {
    width: 90px;
    height: auto;
    margin: 40px 0 40px 40px;
  }
  footer {
   height: 100px;
   border-top: solid 10px #ECBE69;
   border-bottom: none;
   padding-bottom: 0;
 }
  footer img {
    height: 80px;
    width: auto;
  }
}

@media screen and (min-width: 900px) {
.h1-container {
  height: 100px;
}
.trans-h1-container {
    height: 70px;
  }
